*.class
*.log

# sbt specific
dist/*
build/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Gradle specfic
.gradle/
gradle-app.setting

# Intellij IDEA specfic
*.iml
*.ipr
*.iws
